@import "./variables.module.scss";

@mixin btn($width, $height, $bgcolor) {
  width: $width;
  height: $height;
  color: $primary-color;
  background: $bgcolor;
  size: 16px;
  border-radius: 12px;
  cursor: pointer;
  border: none;
  &:hover {
    opacity: 0.5;
  }
}
