$primary-color: rgba(255, 255, 255, 1);
$primary-bgcolor: rgba(9, 9, 12, 1);

//  :export {
//   primarycolor: $primary-color;
//   primarybgcolor: $primary-bgcolor;
// }

$headerFont: lighter 22px "Montserrat-b";
$wordFont: 30px "Montserrat";
$backsideFont: lighter 16px "Montserrat";
$footerFont: 14px "Montserrat";

$customLightBlue: #395ece;
$customBlue: #0000cd;
$btnColor: #6495ed;
